<div id="french-keyboard" class="row row-cols-auto justify-content-center mb-5">

  <div class="col">

    <fieldset class="border">
      <legend class="w-auto fs-6">Vowels</legend>

      <div class="row row-cols-auto justify-content-center g-2">
        <div class="col p-2">
          <app-key [key]="'i'" [tooltip]="'sour(i)s'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'é'" [tooltip]="'m(é)tro'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'è'" [tooltip]="'r(ei)ne'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'a'" [tooltip]="'s(a)c'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'A'" [tooltip]="'p(â)te'"></app-key>
        </div>
      </div>

      <div class="row row-cols-auto justify-content-center g-2">
        <div class="col p-2">
          <app-key [key]="'O'" [tooltip]="'p(o)mme'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'o'" [tooltip]="'vél(o)'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'U'" [tooltip]="'p(ou)le'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'u'" [tooltip]="'l(u)ne'"></app-key>
        </div>
      </div>

      <div class="row row-cols-auto justify-content-center g-2">
        <div class="col p-2">
          <app-key [key]="'E'" [tooltip]="'f(eu)'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'F'" [tooltip]="'fl(eu)r'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'e'" [tooltip]="'r(e)garder'"></app-key>
        </div>
      </div>

      <div class="row row-cols-auto justify-content-center g-2">
        <div class="col p-2">
          <app-key [key]="'C'" [tooltip]="'p(ein)ture'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'B'" [tooltip]="'j(am)be'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'I'" [tooltip]="'ball(on)'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'D'" [tooltip]="'parf(um)'"></app-key>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="col">

    <div class="row row-cols-auto justify-content-center g-2">

      <fieldset class="border">
        <legend class="w-auto fs-6">Consonants</legend>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <app-key [key]="'p'" [tooltip]="'(p)ile'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'t'" [tooltip]="'(t)able'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'k'" [tooltip]="'(c)adeau'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'b'" [tooltip]="'(b)allon'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'d'" [tooltip]="'(d)ent'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'g'" [tooltip]="'(g)âteau'"></app-key>
          </div>
        </div>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <app-key [key]="'f'" [tooltip]="'(f)umée'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'s'" [tooltip]="'(c)itron'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'H'" [tooltip]="'(ch)at'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'v'" [tooltip]="'(v)alise'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'z'" [tooltip]="'mai(s)on'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'j'" [tooltip]="'(g)iraffe'"></app-key>
          </div>
        </div>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <app-key [key]="'l'" [tooltip]="'(l)une'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'m'" [tooltip]="'(m)ur'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'n'" [tooltip]="'(n)id'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'G'" [tooltip]="'li(gn)e'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'r'" [tooltip]="'(r)ue'"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'R'" [tooltip]="'(r)ue'"></app-key>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="row row-cols-auto justify-content-around g-2">

      <div class="col">

        <fieldset class="border">
          <legend class="w-auto fs-6">Semi-Consonant</legend>

          <div class="row row-cols-auto justify-content-center g-2">
            <div class="col p-2">
              <app-key [key]="'J'" [tooltip]="'sole(il)'"></app-key>
            </div>
            <div class="col p-2">
              <app-key [key]="'w'" [tooltip]="'p(oi)sson'"></app-key>
            </div>
            <div class="col p-2">
              <app-key [key]="'V'" [tooltip]="'h(u)ile'"></app-key>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="col">

        <fieldset class="border">
          <legend class="w-auto fs-6">Other</legend>

          <div class="row row-cols-auto justify-content-center g-2">
            <div class="col p-2">
              <app-key [key]="'h'" [tooltip]="'(h)op'"></app-key>
            </div>
            <div class="col p-2">
              <app-key [key]="'N'" [tooltip]="'campi(ng)'"></app-key>
            </div>
            <div class="col p-2">
              <app-key [key]="'x'" [tooltip]="'(j)ota'"></app-key>
            </div>
          </div>

        </fieldset>
      </div>

    </div>

  </div>

</div>
