<div id="french-keyboard" class="row row-cols-auto justify-content-center mb-5">

  <div class="col">

    <fieldset class="border">
      <legend class="w-auto fs-6">Vowels</legend>

      <div class="row row-cols-auto justify-content-center g-2">
        <div class="col p-2">
          <app-key [key]="'i'" [tooltip]="'sour(i)s'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'é'" [tooltip]="'m(é)tro'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'è'" [tooltip]="'r(ei)ne'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'a'" [tooltip]="'s(a)c'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'A'" [tooltip]="'p(â)te'" class="{{getFontClass()}}"></app-key>
        </div>
      </div>

      <div class="row row-cols-auto justify-content-center g-2">
        <div class="col p-2">
          <app-key [key]="'O'" [tooltip]="'p(o)mme'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'o'" [tooltip]="'vél(o)'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'U'" [tooltip]="'p(ou)le'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'u'" [tooltip]="'l(u)ne'" class="{{getFontClass()}}"></app-key>
        </div>
      </div>

      <div class="row row-cols-auto justify-content-center g-2">
        <div class="col p-2">
          <app-key [key]="'E'" [tooltip]="'f(eu)'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'F'" [tooltip]="'fl(eu)r'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'e'" [tooltip]="'r(e)garder'" class="{{getFontClass()}}"></app-key>
        </div>
      </div>

      <div class="row row-cols-auto justify-content-center g-2">
        <div class="col p-2">
          <app-key [key]="'C'" [tooltip]="'p(ein)ture'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'B'" [tooltip]="'j(am)be'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'I'" [tooltip]="'ball(on)'" class="{{getFontClass()}}"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'D'" [tooltip]="'parf(um)'" class="{{getFontClass()}}"></app-key>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="col">

    <div class="row row-cols-auto justify-content-center g-2">

      <fieldset class="border">
        <legend class="w-auto fs-6">Consonants</legend>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <app-key [key]="'p'" [tooltip]="'(p)ile'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'t'" [tooltip]="'(t)able'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'k'" [tooltip]="'(c)adeau'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'b'" [tooltip]="'(b)allon'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'d'" [tooltip]="'(d)ent'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'g'" [tooltip]="'(g)âteau'" class="{{getFontClass()}}"></app-key>
          </div>
        </div>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <app-key [key]="'f'" [tooltip]="'(f)umée'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'s'" [tooltip]="'(c)itron'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'H'" [tooltip]="'(ch)at'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'v'" [tooltip]="'(v)alise'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'z'" [tooltip]="'mai(s)on'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'j'" [tooltip]="'(g)iraffe'" class="{{getFontClass()}}"></app-key>
          </div>
        </div>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <app-key [key]="'l'" [tooltip]="'(l)une'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'m'" [tooltip]="'(m)ur'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'n'" [tooltip]="'(n)id'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'G'" [tooltip]="'li(gn)e'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'r'" [tooltip]="'(r)ue'" class="{{getFontClass()}}"></app-key>
          </div>
          <div class="col p-2">
            <app-key [key]="'R'" [tooltip]="'(r)ue'" class="{{getFontClass()}}"></app-key>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="row row-cols-auto justify-content-around g-2">

      <div class="col">

        <fieldset class="border">
          <legend class="w-auto fs-6">Semi-Consonant</legend>

          <div class="row row-cols-auto justify-content-center g-2">
            <div class="col p-2">
              <app-key [key]="'J'" [tooltip]="'sole(il)'" class="{{getFontClass()}}"></app-key>
            </div>
            <div class="col p-2">
              <app-key [key]="'w'" [tooltip]="'p(oi)sson'" class="{{getFontClass()}}"></app-key>
            </div>
            <div class="col p-2">
              <app-key [key]="'V'" [tooltip]="'h(u)ile'" class="{{getFontClass()}}"></app-key>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="col">

        <fieldset class="border">
          <legend class="w-auto fs-6">Other</legend>

          <div class="row row-cols-auto justify-content-center g-2">
            <div class="col p-2">
              <app-key [key]="'h'" [tooltip]="'(h)op'" class="{{getFontClass()}}"></app-key>
            </div>
            <div class="col p-2">
              <app-key [key]="'N'" [tooltip]="'campi(ng)'" class="{{getFontClass()}}"></app-key>
            </div>
            <div class="col p-2">
              <app-key [key]="'x'" [tooltip]="'(j)ota'" class="{{getFontClass()}}"></app-key>
            </div>
          </div>

        </fieldset>
      </div>

    </div>

  </div>

</div>
