<div id="english-keyboard"
     class="row row-cols-auto justify-content-center mb-5">

  <div class="col">

    <fieldset class="border">
      <legend class="w-auto fs-6">Vowels</legend>

      <div class="row g-2">
        <div class="col p-2">
          <app-key [key]="'F'" [tooltip]="'(a)rrive'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'A'" [tooltip]="'(a)pple'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'e'" [tooltip]="'m(e)n'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'o'" [tooltip]="'g(o)t'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'x'" [tooltip]="'g(oo)d'"></app-key>
        </div>
      </div>

      <div class="row g-2">
        <div class="col p-2">
          <app-key [key]="'qF'" [tooltip]="'b(ee)r'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'eq'" [tooltip]="'f(a)ce'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'Fx'" [tooltip]="'g(o)'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'y'" [tooltip]="'c(u)t'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'q'" [tooltip]="'s(i)t'"></app-key>
        </div>
      </div>

      <div class="row g-2">
        <div class="col p-2">
          <app-key [key]="'c:'" [tooltip]="'sp(o)rt'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'u:'" [tooltip]="'y(ou)'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'xF'" [tooltip]="'s(u)re'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'cq'" [tooltip]="'(oi)l'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'ax'" [tooltip]="'(ou)t'"></app-key>
        </div>
      </div>

      <div class="row g-2">
        <div class="col p-2">
          <app-key [key]="'a:'" [tooltip]="'c(a)r'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'i:'" [tooltip]="'s(ea)t'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'E:'" [tooltip]="'g(i)rl'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'eF'" [tooltip]="'(ai)r'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'aq'" [tooltip]="'l(i)ne'"></app-key>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="col">

    <fieldset class="border">
      <legend class="w-auto fs-6">Consonants</legend>

      <div class="row g-2">
        <div class="col p-2">
          <app-key [key]="'p'" [tooltip]="'(p)ark'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'f'" [tooltip]="'(f)ace'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'t'" [tooltip]="'(t)ime'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'B'" [tooltip]="'(th)ing'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'tH'" [tooltip]="'(ch)urch'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'s'" [tooltip]="'(s)ee'"></app-key>
        </div>
      </div>

      <div class="row g-2">
        <div class="col p-2">
          <app-key [key]="'H'" [tooltip]="'(sh)oe'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'k'" [tooltip]="'(c)at'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'m'" [tooltip]="'(m)ake'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'h'" [tooltip]="'(h)ere'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'w'" [tooltip]="'a(w)ay'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'b'" [tooltip]="'(b)e'"></app-key>
        </div>
      </div>

      <div class="row g-2">
        <div class="col p-2">
          <app-key [key]="'v'" [tooltip]="'(v)ery'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'d'" [tooltip]="'(d)og'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'D'" [tooltip]="'(th)ese'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'dG'" [tooltip]="'(j)uice'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'z'" [tooltip]="'(z)oo'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'G'" [tooltip]="'vi(s)ion'"></app-key>
        </div>
      </div>

      <div class="row g-2">
        <div class="col p-2">
          <app-key [key]="'g'" [tooltip]="'(g)o'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'n'" [tooltip]="'(n)ame'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'l'" [tooltip]="'(l)ive'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'j'" [tooltip]="'(y)ellow'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'C'" [tooltip]="'s(in)g'"></app-key>
        </div>
        <div class="col p-2">
          <app-key [key]="'r'" [tooltip]="'(r)ide'"></app-key>
        </div>
      </div>

    </fieldset>
  </div>

</div>
