<div class="container mt-5">

  <div class="row row-cols-auto align-items-center justify-content-start mb-5">

    <div class="col">
      <button type="button" class="btn btn-light border">Enregistrer</button>
      <button type="button" class="btn btn-light border">Imprimer</button>
    </div>

    <div class="col">
      <app-keyboard-selector (selectedKeyboard)="selectKeyboard($event)">
      </app-keyboard-selector>
    </div>

    <div class="col">
      <div class="row row-cols-auto align-items-center">

        <div class="col">
          <label for="font" hidden> Font</label>
          <select class="form-select" name="font" id="font">
            <option *ngFor="let font of fonts" value="{{font}}" [selected]="font === 'Arial'">{{font}}</option>
          </select>
        </div>

        <div class="col">
          <label for="font-size" hidden>Taille</label>
          <select class="form-select" name="font-size" id="font-size">
            <option *ngFor="let size of fontSizes()" value="{{size}}" [selected]="size === 12">{{size}}</option>
          </select>
        </div>

        <div class="col">
          <label for="font-color" hidden>Couleur</label>
          <input type="color" name="font-color" id="font-color">
<!--          <select class="form-select" name="font-color" id="font-color">-->
<!--            <option value="noir" selected>Noir</option>-->
<!--            <option value="blanc">Blanc</option>-->
<!--            <option value="rouge">Rouge</option>-->
<!--            <option value="bleu">Bleu</option>-->
<!--            <option value="vert">Vert</option>-->
<!--          </select>-->
        </div>

      </div>
    </div>

    <div class="col">
      <button type="button" class="btn btn-outline-dark border fst-italic" data-bs-toggle="button">I</button>
      <button type="button" class="btn btn-outline-dark border fw-bold" data-bs-toggle="button">G</button>
      <button type="button" class="btn btn-outline-dark border text-decoration-underline" data-bs-toggle="button">
        U
      </button>
    </div>

  </div>

  <div id="textField" class="container-fluid border border-3 mb-5" style="height: 15rem; display: inline-block"
       contenteditable="true">bonjour: [...]<br>
    <span style="font-family: 'Source Code Pro',sans-serif">Source Code Pro</span><br>
    <span style="font-family: 'Source Code Pro for Powerline',sans-serif">Source Code Pro for Powerline</span><br>
    <span style="font-family: 'Arial',sans-serif">Arial</span><br>
    <span style="font-family: 'Space Mono',sans-serif">Space Mono</span><br>
    <span style="font-family: 'Times New Roman',serif">Times New Roman</span><br>
  </div>

  <div *ngIf="keyboard === KEYBOARD.FRENCH" id="french-keyboard"
       class="row row-cols-auto justify-content-center mb-5">

    <div class="col">

      <fieldset class="border">
        <legend class="w-auto fs-6">Voyelles</legend>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik"
                    onclick="insertPhoneme('i', 'alphonetik')">i
            </button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">é</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">è</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">a</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">A</button>
          </div>
        </div>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">O</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">o</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">U</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">u</button>
          </div>
        </div>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">E</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">F</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">e</button>
          </div>
        </div>

        <div class="row row-cols-auto justify-content-center g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">C</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">B</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">I</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik">D</button>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="col">

      <div class="row row-cols-auto justify-content-center g-2">

        <fieldset class="border">
          <legend class="w-auto fs-6">Consonnes</legend>

          <div class="row row-cols-auto justify-content-center g-2">
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">p</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">t</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">k</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">b</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">d</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">g</button>
            </div>
          </div>

          <div class="row row-cols-auto justify-content-center g-2">
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">f</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">s</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">H</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">v</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">z</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">j</button>
            </div>
          </div>

          <div class="row row-cols-auto justify-content-center g-2">
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">l</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">m</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">n</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">G</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">r</button>
            </div>
            <div class="col p-2">
              <button type="button" class="btn btn-light border alphonetik">R</button>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="row row-cols-auto justify-content-around g-2">

        <div class="col">

          <fieldset class="border">
            <legend class="w-auto fs-6">Semi-Consonne</legend>

            <div class="row row-cols-auto justify-content-center g-2">
              <div class="col p-2">
                <button type="button" class="btn btn-light border alphonetik">J</button>
              </div>
              <div class="col p-2">
                <button type="button" class="btn btn-light border alphonetik">w</button>
              </div>
              <div class="col p-2">
                <button type="button" class="btn btn-light border alphonetik">V</button>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="col">

          <fieldset class="border">
            <legend class="w-auto fs-6">Autres</legend>

            <div class="row row-cols-auto justify-content-center g-2">
              <div class="col p-2">
                <button type="button" class="btn btn-light border alphonetik">h</button>
              </div>
              <div class="col p-2">
                <button type="button" class="btn btn-light border alphonetik">N</button>
              </div>
              <div class="col p-2">
                <button type="button" class="btn btn-light border alphonetik">x</button>
              </div>
            </div>

          </fieldset>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="keyboard === KEYBOARD.ENGLISH" id="english-keyboard"
       class="row row-cols-auto justify-content-center mb-5">

    <div class="col">

      <fieldset class="border">
        <legend class="w-auto fs-6">Voyelles</legend>

        <div class="row g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">F</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">A</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">e</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">o</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">x</button>
          </div>
        </div>

        <div class="row g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">qF</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">eq</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">Fx</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">y</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">q</button>
          </div>
        </div>

        <div class="row g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">c:</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">u:</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">xF</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">cq</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">ax</button>
          </div>
        </div>

        <div class="row g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">a:</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">i:</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">E:</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">eF</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">aq</button>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="col">

      <fieldset class="border">
        <legend class="w-auto fs-6">Consonnes</legend>

        <div class="row g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">p</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">f</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">t</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">B</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">tH</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">s</button>
          </div>
        </div>

        <div class="row g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">H</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">k</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">m</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">h</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">w</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">b</button>
          </div>
        </div>

        <div class="row g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">v</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">d</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">D</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">dG</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">z</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">G</button>
          </div>
        </div>

        <div class="row g-2">
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">g</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">n</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">l</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">j</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">C</button>
          </div>
          <div class="col p-2">
            <button type="button" class="btn btn-light border alphonetik-gb">r</button>
          </div>
        </div>

      </fieldset>
    </div>

  </div>

  <div class="row row-cols-auto justify-content-center mb-5 g-2">

    <div class="col border p-2">
      <button type="button" class="btn btn-light border alphonetik-gb">´</button>
      <button type="button" class="btn btn-light border alphonetik-gb">/</button>
    </div>
    <div class="col border p-2">
      <button type="button" class="btn btn-light border alphonetik">[</button>
      <button type="button" class="btn btn-light border alphonetik">]</button>
    </div>

    <div class="d-grid col-3 border p-2">
      <button type="button" class="btn btn-light border">Espace</button>
    </div>

    <div class="col border p-2">
      <button type="button" class="btn btn-light border">Effacer</button>
      <button type="button" class="btn btn-light border">Effacer tout</button>
    </div>
    <div class="col border p-2">
      <button type="button" class="btn btn-light border">Quiter</button>
    </div>

  </div>

</div>
<script>
  function insertPhoneme(char, className) {
    document.getElementById('textField').innerHTML += `<span class="${className}">${char}</span>`
  }
</script>
