<div class="container mt-5">

  <div class="row mb-5">
    <ckeditor
      #ckEditorComponent
      editorUrl="./assets/ckeditor/ckeditor.js"
      data='<p>[<span style="font-family:AlphoneticGB">hF&#39;lFxwE:ld</span>] - hello world</p><p>[<span style="font-family:Alphonetic">bIjURmId</span>] - bonjour monde</p>'
      [config]="getEditorConfig()">
    </ckeditor>
  </div>

  <div class="row row-cols-auto justify-content-center mb-5">
    <div class="col">
      <app-keyboard-selector (selectedKeyboard)="selectKeyboard($event)">
      </app-keyboard-selector>
    </div>
  </div>

  <app-french-keyboard *ngIf="keyboard === KEYBOARD.FRENCH" (pressedKeyEvent)="pasteKey($event, KEYBOARD.FRENCH)"></app-french-keyboard>

  <app-english-keyboard *ngIf="keyboard === KEYBOARD.ENGLISH" (pressedKeyEvent)="pasteKey($event, KEYBOARD.ENGLISH)"></app-english-keyboard>

  <div class="row row-cols-auto justify-content-center mb-5 g-2">
<!-- todo Ely implement key pastes when pressed -->
    <div class="col border p-2">
      <button type="button" class="btn btn-light border alphonetik-gb">´</button>
      <button type="button" class="btn btn-light border alphonetik-gb">/</button>
    </div>
    <div class="col border p-2">
      <button type="button" class="btn btn-light border alphonetik">[</button>
      <button type="button" class="btn btn-light border alphonetik">]</button>
    </div>

    <div class="d-grid col-3 border p-2">
      <button type="button" class="btn btn-light border">Space</button>
    </div>

    <div class="col border p-2">
      <button type="button" class="btn btn-light border">Delete</button>
      <button type="button" class="btn btn-light border">Clear all</button>
    </div>
    <div class="col border p-2">
      <button type="button" class="btn btn-light border">Quit</button>
    </div>

  </div>

</div>
