<fieldset class="border">

  <legend class="w-auto fs-6">Phonetic fonts</legend>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="french-option" name="police-phonetique"
           value="french" (click)="selectKeyboard(KEYBOARD.FRENCH)" checked>
    <label class="form-check-label" for="french-option">French</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" id="english-option" name="police-phonetique"
           value="english" (click)="selectKeyboard(KEYBOARD.ENGLISH)">
    <label class="form-check-label" for="english-option">English</label>
  </div>

</fieldset>
