.alphonetik {
  font-family: Alphonetic, sans-serif;
}

.alphonetik-gb {
  font-family: AlphoneticGB, sans-serif;
}

fieldset {
  padding-left: 0.5em;
}

legend {
  float: none;
  padding: inherit;
}
